*{
    padding: 0;
    margin: 0;
}
body{
    background-color: white;
    font-size: 16px;
    font-family: sans-serif;
    color: #403a3a;
    line-height: 2em;
}
header{
    position: fixed;
    top:0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    z-index: 1;
}
a{
    text-decoration: none;
}
.active{
    background-color: black;
    color: white;
    font-weight: bold;
}
header img{
    width: 200px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 50px;
}
nav{
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    text-align: center;
}
nav a:hover{
   background-color: black;
    color: white;
    font-weight: bold;
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 150px;
}
form{
    width: 80%;
    padding: 25px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
form h2{
    position: absolute;
    background-color: #1d262f;
    color: white;
    padding: 10px;
    top:-25px;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.5);
    left: 40%;
    font-size: 20px;
}
.form-content label{
    width: 40vw;
    padding: 20px;
    margin-left: 100px;
}
.form-content label input{
    padding: 20px;
    width: 100%;
}
input[type=submit]{
    position: absolute;
    width: 30%;
    padding: 10px;
    border: none;
    background-color: #15181c;
    color: white;
    left: 40%;
    top: 65%;
}
.form-content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 8px 0 16px 0 rgba(0,0,0, 0.4);
    margin-top: 50px;
}
.icons img{
    padding: 15px;
    width: 35px;
}
.copy-right img{
    padding-bottom: 10px;
}
.copy-right , .icons{
    margin-top: 30px;
}
@media(max-width: 780px) {
    nav a{
        padding:30px 20px 30px 20px;
    }
}
@media(max-width: 654px) {
    nav a{
        padding:30px 10px 30px 10px;
    }
    .form-content label{
        margin-left: 50px;
    }
}
@media(max-width: 531px) {
    header{
        grid-template-columns: repeat(1,1fr);
        height: auto;
    }
    header img{
        width: 175px;
        margin-right: auto;
        margin-left: auto;
    }
    #content{
        margin-top: 250px;
    }
}
@media(max-width: 475px) {
    footer{
        flex-direction: column;
    }
    .icons{
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .copy-right{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .form-content label{
        margin-left: 25px;
    }
    .form-content label input{
        padding: 15px;
    }
}
@media(max-width: 450px) {
    header p{
        font-size: 20px;
        margin-top: 10px;
        padding: 15px;
    }
}

@media (max-width: 275px) {
    nav{
        grid-template-columns:repeat(1,1fr);
    }
    nav a{
        padding: 1px;
    }
    .copy-right img{
        width: 125px;
    }
    .icons img{
        padding: 5px;
        width: 30px;
    }
    .form-content label{
        margin-left: 0;
        padding: 15px;
    }
    .form-content label input{
        padding: 10px;
    }
    form h2{
        left: 50px;
        font-size: 14px;
        padding: 5px;
    }
    form{
        width: 65%;
    }
    input[type=submit]{
        left: 35%;
        width: 75px;
        top: 60%;
    }
}
@media (max-width: 200px) {
    header img{
        width: 150px;
    }
    .copy-right img{
        width: 75px;
    }
    .copy-right p{
        font-size: 12px;
    }
    .icons img{
        padding: 5px;
        width: 30px;
    }
    .form-content label{
        padding: 2px;
    }



}


